@import url('https://fonts.googleapis.com/css?family=Coustard:900&display=swap');
#root {
  background-image: url('../images/Contact.png');
  height: 100%;
}
.card-container{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 4fr));
  grid-gap: 100px;
  
}
.card{
  width: 133px;
  height: 285px;
  border-radius: 25px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s ease-in-out;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.card img {
  height: 200px;
  border-radius: 25px;
}
.card h3{
  text-align: center;
  margin:auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
}
